<div class="my-3">
  <ul class="nav justify-content-center">
    <li class="nav-item" *ngFor="let item of uniqueCategory">
      <button
        class="btn btn-outline-info mx-2"
        type="button"
        (click)="showProducts(item)"
      >
        <a class="nav-link" href="#">{{ item }}</a>
      </button>
    </li>
  </ul>
</div>
<div *ngIf="category" class="container mx-auto mt-4 d-flex justify-content-center ">
  <div class="row">
    <div
      *ngFor="let item of category"
      class="card mx-2 col-md-3 my-2"
      style="width: 18rem"
    >
      <div>
        <img
          src="{{ item.image }}"
          class="card-img-top img-fluid"
          alt="{{ item.name }}"
          style="height: 286px; width: 286px"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">Price: {{ item.price }}</p>
          <button href="#" class="btn btn-primary">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
 