.container {
  margin-top: 30px;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border:2px solid red;
}

.help-block {
  color: red;
}

td,
th {
  border: 2px solid black;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
