<div class="container">
  <div class="row">
    <div>
      <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <mat-horizontal-stepper>
          <mat-step label="Step 1">
            <div id="user-data" formGroupName="userDataOne">
              <div class="form-group">
                <label for="username">Name</label>
                <input
                  type="text"
                  id="username"
                  class="form-control"
                  formControlName="name"
                />
                <span
                  *ngIf="
                    regForm.get('userDataOne.name').touched &&
                    regForm.get('userDataOne.name').hasError('required')
                  "
                  class="help-block"
                  >Please Enter Name!</span
                >
              </div>
              <div class="form-group">
                <label for="email">Mail</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  formControlName="email"
                />
                <span
                  *ngIf="
                    regForm.get('userDataOne.email').touched &&
                    regForm.get('userDataOne.email').hasError('required')
                  "
                  class="help-block"
                  >Email is required!</span
                >
                <span
                  *ngIf="
                    regForm.touched &&
                    regForm.get('userDataOne.email').hasError('email')
                  "
                  class="help-block"
                  >Please Enter a Valid Email!</span
                >
              </div>
              <div class="form-group">
                Gender
                <div class="radio" *ngFor="let gender of genders">
                  <label for="gender">
                    <input
                      type="radio"
                      value="{{ gender }}"
                      formControlName="gender"
                    />
                    {{ gender }}
                  </label>
                  <span
                    *ngIf="
                      regForm.get('userDataOne.gender').touched &&
                      regForm.get('userDataOne.gender').hasError('required')
                    "
                    class="help-block"
                    >Please Select Gender!</span
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="dob">DOB</label>
                <input
                  type="date"
                  id="dateOfBirth"
                  class="form-control"
                  formControlName="dob"
                />
                <span
                  *ngIf="
                    regForm.get('userDataOne.dob').touched &&
                    regForm.get('userDataOne.dob').hasError('required')
                  "
                  class="help-block"
                  >Please enter dob!</span
                >
              </div>
              <button
                mat-button
                matStepperNext
                [disabled]="!regForm.get('userDataOne').valid"
                type="button"
                class="btn btn-primary"
              >
                Next
              </button>
            </div>
          </mat-step>
          <mat-step label="Step 2">
            <div id="user-data" formGroupName="userDataTwo">
              <div class="form-group" *ngIf="!editMode">
                <label for="profilePic">Profile Image</label>
                <input
                  type="file"
                  id="profilePic"
                  class="form-control"
                  formControlName="dp"
                />
                <span
                  *ngIf="
                    regForm.get('userDataTwo.dp').touched &&
                    regForm.get('userDataTwo.dp').hasError('required')
                  "
                  class="help-block"
                  >Please Enter pic!</span
                >
              </div>
              <div class="form-group">
                <label for="hobby"
                  >Hobbies
                  <div class="form-group d-flex">
                    <div *ngFor="let hobby of hobbies"  formArrayName="hobbies">
                      <label class="mx-2">
                        <input
                          type="checkbox"
                          id="hobbies"
                          class="form-control"
                          value="{{ hobby.name }}"
                          (change)="getSelectedHobby($event)"
                          [checked]="hobby.selected"
                         
                        />
                        {{ hobby.name }}
                      </label>
                    </div>
                  </div>
                </label>
              </div>
              <div class="form-group">
                <label for="Phone">Mobile Number</label>
                <input
                  type="tel"
                  id="number"
                  class="form-control"
                  formControlName="phoneNum"
                  placeholder="123-456-7890"
                />
                <span
                  *ngIf="
                    regForm.get('userDataTwo.phoneNum').touched &&
                    regForm.get('userDataTwo.phoneNum').hasError('required')
                  "
                  class="help-block"
                  >Number should be in format:-123-456-7890</span
                >
              </div>
            </div>
            <button
              mat-button
              matStepperPrevious
              class="btn btn-primary"
              type="button"
            >
              prev
            </button>
            <button
              mat-button
              matStepperNext
              class="btn btn-primary mx-3"
              type="button"
              [disabled]="!regForm.get('userDataTwo').valid"
            >
              Next
            </button>
          </mat-step>
          <mat-step label="Step 3">
            <div id="user-data" formGroupName="userDataThree">
              <div class="form-group">
                <label for="Qualification">Qualification</label>
                <ng-multiselect-dropdown
                  [settings]="dropdownSettings"
                  [data]="dropdownList"
                  formControlName="qualification"
                >
                </ng-multiselect-dropdown>
                <span
                  *ngIf="
                    regForm.get('userDataThree.qualification').touched &&
                    regForm
                      .get('userDataThree.qualification')
                      .hasError('required')
                  "
                  class="help-block"
                >
                  Please Select Qualification
                </span>
              </div>
              <div class="form-group">
                <label for="profession">Profession</label>
                <select
                  class="form-control dropdown"
                  id="occupation"
                  formControlName="profession"
                >
                  <option value="" selected="selected" disabled="disabled">
                    -- select one --
                  </option>
                  <option *ngFor="let item of profession" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
                <span
                  *ngIf="
                    regForm.get('userDataThree.profession').touched &&
                    regForm.get('userDataThree.profession').hasError('required')
                  "
                  class="help-block"
                  >Please select profession
                </span>
              </div>
              <div class="form-group">
                <label for="Description">Description</label>
                <div>
                  <textarea
                    class="form-control"
                    rows="4"
                    cols="40"
                    formControlName="description"
                  ></textarea>
                  <span
                    *ngIf="
                      regForm.get('userDataThree.description').touched &&
                      regForm
                        .get('userDataThree.description')
                        .hasError('required')
                    "
                    class="help-block"
                  >
                    Description is required
                  </span>
                </div>
              </div>
              <div formArrayName="contacts">
                <label for="Contact">Contact Person</label>
                <div
                  class="form-group d-flex flex-wrap"
                  *ngFor="let list of controls; let i = index"
                  [formGroupName]="i"
                >
                  <div>
                    <label for="name" class="mx-3">Name</label>
                    <input
                      type="text"
                      id="contactName"
                      formControlName="name"
                      placeholder="{{
                        regForm.get('userDataThree.contacts').hasError &&
                        regForm.get('userDataThree.contacts').touched
                          ? 'name is required'
                          : ''
                      }}"
                    />
                  </div>
                  <div>
                    <label for="phoneNumber" class="mx-3">Phone Number</label>
                    <input
                      type="number"
                      id="contactNumber"
                      formControlName="number"
                      placeholder="{{
                        regForm.get('userDataThree.contacts').hasError('required') &&
                        regForm.get('userDataThree.contacts').touched
                          ? 'number is required'
                          : ''
                      }}"
                    />
                  </div>
                  <div>
                    <button
                      style="margin: -4px 0px 0px 8px"
                      type="button"
                      class="btn btn-danger"
                      (click)="onRemoveContacts(i)"
                    >
                      X
                    </button>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-success my-2"
                  (click)="onAddContacts()"
                >
                  Add New
                </button>
              </div>
            </div>
            <div>
              <button
                mat-button
                matStepperPrevious
                class="btn btn-primary"
                type="button"
              >
                prev
              </button>
              <button [disabled]="!regForm.valid" class="btn btn-primary mx-3" type="submit">
                {{ !editMode ? "Submit" : "update" }}
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
</div>
