input.ng-invalid.ng-touched {
  border-color: red;
}

.help-block {
  color: red;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
.square-div {
  width: 60px;
  margin: 5px;
}